.back-black{
    background-color: transparent!important;
    backdrop-filter: blur(30px);
}
.carousel-item{
position: relative;

}
.darkening{
    background-image: linear-gradient(to top,
        #333324,
        #000
    )!important;
    left:50%;
    width: 51vw;
    height:85vh;
   position: absolute;
   filter: blur(2.0);
   opacity: 0.7;
}
.container{
    position: absolute;
    top:80%;
}
.titles{
    font-size: 4.5rem;
    color: #fff!important;
}
.shade{
    background-color: #d63031 ;
    border-radius: 200px;
    padding: 2px;
}
.carousel-item .border{
    border: 2px solid  #d63031!important;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: 50px;
    gap: 2px;
    margin-top: 20px;
    background-color: transparent;
    height: 3;
}
.carousel-item .btn-primary{
    background-color: #d63031;
    border: none!important;
    border: 2px solid #d63031!important;
    padding: 12px 30px;
    border-radius: 200px;
}
.carousel-item .btn-primary:hover{
    background-color: #d63031!important;
    opacity: 0.9!important;
}
.book{
    font-size: 23px;
    margin-left: 20px;
    margin-top: 10px;
}
.heading{
    font-size: 35px!important;
    color:#fff;
}
.row .btns{
    padding: 0px!important;
    border: 2px solid #d63031;
    background-color: transparent!important;
    color: #d63031;
    border-radius: 200px;
}
.row .btns:hover{
    background-color: #d63031!important;
    color: #fff;
}
.card{
    background-color: transparent!important;
    height:400px!important;
    width:100%!important;
}
.card:hover{
    cursor: pointer;
}
.card img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;

    box-shadow: 0 0 4px 1px  #d63031;
    transition: all 0.7s;
}
.card img:hover{padding: 10px;
}
.head:hover{
    cursor: pointer;
    text-shadow: #d63031!important;
}
.card::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #fab1a0,
      #b2bec3 43%,
      #d63031
    );
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
  }
  
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  ul li{

    border-bottom: 1px solid;
  }
  .sug{
    list-style: none;
    margin-left: -20px;
    padding: 10px;
  }
  .sug:hover{
    cursor: pointer;
    color: #d63031!important;
    border-bottom: 1px solid white;
  }
  .sn{
    padding-left: 4px;
    padding-right:4px;
    background-color: #d63031;
    font-weight: 600;
  }
  .recommended{
    position: relative;
  }
  .table{
    position: absolute;
    top:0%;
    right:20px;
    width: 28%;
    bottom: 0%;
    border: 2px solid;
  }
  .headings{
    color: #d63031!important;
    filter: brightness(2);
  }